.content1{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-width: 1500px;
}
.red1{
    background-color: red;
    width: 200%;
    height: 400px;
}
.green1{
    background-color: green;
    width: 200%;
    height: 400px;
    grid-column: 3/4;
}
.blue1{
    background-color: blue;
    width: 150%;
    height: 100px;
    grid-row: 2/3;
    grid-column: 2/3;
    z-index: 6;
    
    
}
.yellow1{
    background-color: yellow;
    width: 133%;
    height: 400px;
    grid-row: 3/4;
    grid-column: 1/4;
}