body{
    margin:0
}
h1{
    color: red;
            
}
.fancyHeader{
    background-color: #2ab8ec; 
    font-size: 150px; 
    text-align: center;
    padding: 20px; 
    margin-top: 200px;

}

p{
    background-color: orchid;
    margin: 0px 20px;
}
