@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Open+Sans&display=swap');



body{
width: 100%;
background-color:  #ffffff;
}
#content1{

}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.logo{
    width: 50%;
    border-radius: 50%;
}

header{
    background-color:  #396E94;
    display: grid;
    grid-template-columns: 150px auto;
    margin-bottom: 40px;
    
}
nav a:hover{
    background-color: #415a77;
    color: yellow;
}

#content2{
width: 100%;
display: grid;
grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
grid-template-rows: 1fr 1fr 2fr;
}
.hero-msg1{
    grid-column: 3;
    border: white solid;
    box-shadow: 10px 10px 8px  #415a77;
    /* padding: 75px; */
    padding-bottom: 20%;
    text-align: center;
    background-color:  #396E94;
    height: 5%;
    color: azure;
    
}
.home-title{

}
.ethio-text{
    grid-column: 2/5;
    grid-row: 2;

}
main{
    grid-column: 1/3;
    grid-row: 3;


}
.ethio-img:hover .overlay{
    grid-column: 1;
    grid-row: 3;
    opacity: 1;
   
}

.ethio:hover .overlay{
    grid-column: 4;
    grid-row: 3;
    opacity: 1;
}

.coff{
  grid-column: 4/6;  
  grid-row: 3;
  position: relative;
  width: 100%;
}

.horthodox-img{
    width: 100%;
    
}

.hcoffee-img{
    width: 100%;
    
}



.container {
    position: relative;
    width: 100%;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #494541;
  }

  
  
footer{
    background-color:  #396E94;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}
footer h3{
    color: black;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: yellow;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}

